.card,
.card-title,
.card-body {
    font-weight: bold;
    font-size: var(--font-size-medium);
    color: var(--font-color-secondary);
}

.card-title {
    margin: 20px;
}

.card {
    border: none;
}

.stars img {
    margin: 0 5px;
}

.stars {
    margin: 20px 0;
}