ul {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: var(--font-size-big);
    display: flex;
    justify-content: space-between;
}

li {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}


a:link {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.secondary {
    color: var(--font-color-secondary);
}

.line {
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}