body {
    margin: 0;
    font-weight: bold;
    font-family: "Ubuntu-bold", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

ul {
    padding-left: 0;
}

.about-me-section {
    height: 500px;
    background-color: var(--background-about-me);
}