.aboutme {
    padding: 100px 0;
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.aboutme span {
    font-size: var(--font-size-big);
    display: inline-block;
    max-width: 500px;
    align-self: center;
}